## Notebook séance 1

On s'intéresse ici aux notions abordées dans les chapitres 1 et 2 de https://python.sdv.univ-paris-diderot.fr

In [1]:
3

3

In [2]:
print(3)

3

### Notion de variable et opérateurs

In [3]:
x = 3

In [4]:
x

3

In [5]:
print(x)

3

In [6]:
z = 3.14

In [7]:
z

3.14

In [8]:
y = 7

In [9]:
x+y

10

In [10]:
x/y

0.42857142857142855

In [11]:
y/x

2.3333333333333335

In [12]:
y // x

2

In [13]:
s = "toto"

In [14]:
s

'toto'

In [15]:
t = "fait du vélo"

In [16]:
s + t

'totofait du vélo'

In [17]:
s + " " + t

'toto fait du vélo'

In [18]:
s * 4

'totototototototo'

In [19]:
print("x vaut {} et y vaut {}".format(x,y))

x vaut 3 et y vaut 7

In [20]:
r = "x vaut {} et y vaut {}".format(x,y)

In [21]:
r

'x vaut 3 et y vaut 7'

In [22]:
x = 6

In [23]:
r

'x vaut 3 et y vaut 7'

In [24]:
print("x vaut {} et y vaut {}".format(x,y))

x vaut 6 et y vaut 7

## Exercices


- (1+2)**3
- "Da" * 4
- "Da" + 3
- ("Pa"+"La") * 2
- ("Da"*4) / 2 
- 5/2
- 5 // 2
- 5 % 2



- str(4) * int("3")
- int("3") + float("3.2")
- str(3) * float("3.2")
- str(3/4) * 2

In [25]:
(1+2)**3

27

In [26]:
"Da" * 4

'DaDaDaDa'

In [27]:
"Da" + 3

TypeError: can only concatenate str (not "int") to str

In [28]:
("Pa"+"La") * 2

'PaLaPaLa'

In [29]:
("Da"*4) / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [30]:
5/2

2.5

In [31]:
5 // 2

2

In [32]:
5 % 2

1

In [33]:
str(4) * int("3")

'444'

In [34]:
int("3") + float("3.2")

6.2

In [35]:
str(3) * float("3.2")

TypeError: can't multiply sequence by non-int of type 'float'

In [36]:
str(3/4) * 2

'0.750.75'

### Exercices

#### Poly-A
Générez une chaîne de caractères représentant un brin d’ADN poly-A (c’est-à-dire qui ne contient que des bases A) de 20 bases de longueur, sans taper littéralement toutes les bases.

In [37]:
'A'*20

'AAAAAAAAAAAAAAAAAAAA'

#### Poly-A et poly-GC
Sur le modèle de l’exercice précédent, générez en une ligne de code un brin d’ADN poly-A (AAAA...) de 20 bases suivi d’un poly-GC régulier (GCGCGC...) de 40 bases.

In [38]:
'A'*20+'GC'*20

'AAAAAAAAAAAAAAAAAAAAGCGCGCGCGCGCGCGCGCGCGCGCGCGCGCGCGCGCGCGC'

#### Écriture formatée
En utilisant l’écriture formatée, affichez en une seule ligne les variables a, b et c dont les valeurs sont respectivement la chaîne de caractères "salut", le nombre entier 102 et le float 10.318. La variable c sera affichée avec 2 décimales.

In [39]:
a="salut"
b=102
c=10.318
print("a vaut {}, b vaut {} et c vaut {:.2f}".format(a,b,c))

a vaut salut, b vaut 102 et c vaut 10.32

#### Écriture formatée 2
Calculez un pourcentage de GC avec l’instruction suivante :
perc_GC = ((4500 + 2575)/14800)*100

Ensuite, affichez le contenu de la variable perc_GC à l’écran avec 0, 1, 2 puis 3 décimales sous forme arrondie en utilisant .format(). 

On souhaite afficher la sortie suivante : 
- Le pourcentage de GC est 48 
- Le pourcentage de GC est 47.8 
- Le pourcentage de GC est 47.80 
- Le pourcentage de GC est 47.804

In [40]:
perc_GC = ((4500 + 2575)/14800)*100
print("perc_G vaut {:.0f}%".format(perc_GC))
print("perc_G vaut {:.1f}%".format(perc_GC))
print("perc_G vaut {:.2f}%".format(perc_GC))
print("perc_G vaut {:.3f}%".format(perc_GC))

perc_G vaut 48%
perc_G vaut 47.8%
perc_G vaut 47.80%
perc_G vaut 47.804%

## Les conditionnelles

https://python.sdv.univ-paris-diderot.fr/06_tests/

On oubliera rapidement la section 6.5 de ce chapitre.

In [41]:
x = 1
y = 2
z = 3

Priorité des opérateurs

In [42]:
x == 1 and y == 2

True

In [43]:
x == 1 or y == 3 and z == 2

True

In [44]:
(x == 1 or y == 3) and z == 2

False

In [45]:
x == 1 or (y == 3 and z == 2)

True

In [46]:
if x < y:
    max = y
else:
    max = x

In [47]:
max

2

Le `else`n'est pas obligatoire.

In [48]:
age = 32
reduction = 0.5
prix = 100
if age < 20:
    prix = prix * reduction

In [49]:
prix

100

Bien sûr il peut y avoir plusieurs instructions dans chaque bloc. Et on peut enchaîner les conditions grâce à `elif`.

In [50]:
age = 19
if age <= 5:
    taux_de_reduction = 0
    classe = 'MOINS_DE_5ANS'
elif age <= 18:
    taux_de_reduction = 0.6
    classe = 'MOINS_DE_18ANS'
elif age >= 60:
    taux_de_reduction = 0.8
    classe = 'SENIOR'
else:
    taux_de_reduction = 1
    classe = 'ADULTE'
print("age : {}, categorie : {}, réduction {}%".format(age, classe, 100*(1-taux_de_reduction)))

age : 19, categorie : ADULTE, réduction 0%

In [51]:
if age <= 5:
    pass
else:
    if age <= 18:
        pass
    else:
        if age >= 60:
            pass
        else:
            pass

## Les fonctions, rappel rapide

In [52]:
def taux_de_reduction (age):
    if age <= 5:
        taux_de_reduction = 0
        classe = 'MOINS_DE_5ANS'
    elif age <= 18:
        taux_de_reduction = 0.6
        classe = 'MOINS_DE_18ANS'
    elif age >= 60:
        taux_de_reduction = 0.8
        classe = 'SENIOR'
    else:
        taux_de_reduction = 1
        classe = 'ADULTE'
    return taux_de_reduction

In [53]:
taux_de_reduction(19)

1

In [54]:
taux_de_reduction(16)

0.6

In [55]:
def taux_de_reduction (age):
    """
    Exemples
    >>> taux_de_reduction(19)
    1
    >>> taux_de_reduction(16)
    0.6
    >>> taux_de_reduction(5)
    0
    >>> taux_de_reduction(67)
    0.8
    """
    if age <= 5:
        taux_de_reduction = 0
        classe = 'MOINS_DE_5ANS'
    elif age <= 18:
        taux_de_reduction = 0.6
        classe = 'MOINS_DE_18ANS'
    elif age >= 60:
        taux_de_reduction = 0.8
        classe = 'SENIOR'
    else:
        taux_de_reduction = 1
        classe = 'ADULTE'
    return taux_de_reduction

In [56]:
import doctest
doctest.testmod()

TestResults(failed=0, attempted=4)

## Les boucles

https://python.sdv.univ-paris-diderot.fr/05_boucles_comparaisons/

Elements de syntaxe :
- les `:` qui marquent l'ouverture d'un bloc de code
- l'indentation qui permet de signifier quelles instructions sont dans le même bloc de code

In [57]:
range(1,10)

range(1, 10)

In [58]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
list(range(1,10,3))

[1, 4, 7]

In [60]:
list(range(1,10,-3))

[]

In [61]:
list(range(10,1,-3))

[10, 7, 4]

In [62]:
for i in range (1,10):
    print(i)

1
2
3
4
5
6
7
8
9

De l'importance de l'indentation, seules les instructions indentées sous le pour appartiennent au même bloc et sont exécutées à chaque tour de boucle.

In [63]:
for i in range (1,10):
    print(i)
print(i)

1
2
3
4
5
6
7
8
9
9

Attention, `i` existe encore après la boucle.

Python demande à ce que les indentations soient toutes les mêmes. Ici cela crée une erreur.

In [65]:
for i in range (1,10):
    print(i)
 print(i)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

La boucle **tant que** permet d'itérer et de s'arrêter sur une condition et non de parcourir toutes les valeurs d'un ensemble.

In [66]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

Si on sait à l'avance le nombre de tours de boucles, on utilise la boucle pour. 

Si la condition d'arrêt de la boucle évolue au fur et à mesure du déroulement de celle-ci, on utilise la boucle tant que.

In [67]:
p = 0
s = 'atcgagcaagtagacagagatag'
k = 'c'
while p < len(s) and s[p] != k:
    p += 1
print("La première occurrence de {} dans {} est en position {}".format(k,s,p))

La première occurrence de c dans atcgagcaagtagacagagatag est en position 2

In [68]:
def indexOf (s,k,fromp=0):
    p = fromp
    while p < len(s) and s[p] != k:
        p += 1
    return p

In [69]:
indexOf(s,k)

2

In [70]:
indexOf(s,k,2+1)

6

## Exercices

### Recherche des occurrences 

Rechercher toutes les positions d'occurrence de 'c' dans 'atcgagcaagtagacagagatag'

In [71]:
cpt = 1
for b in 'atcgagcaagtagacagagatag':
    if b == 'c':
        print('Un C ce trouve en position {}'.format(cpt))
    cpt += 1

Un C ce trouve en position 3
Un C ce trouve en position 7
Un C ce trouve en position 15

### Recherche d'ORF

Une ORF correspond à une portion d'ADN débutant par un codon START et se terminant par un codon STOP qui représente potentiellement une protéine.

Les codons START et STOP sont habituellement :
- le codon start est 'ATG'
- les codons sont soit 'TAA', soit 'TAG', soit 'TGA'

L'algorithme de recherche et d'extraction d'une ORF proposé est le suivant :
- chercher la position du premier codon START
- à partir de cette position chercher la position d'un codon STOP
- extraire la séquence entre ces deux positions

On supposera la séquence d'ADN donnée dans une chaîne de caractères.

In [72]:
seq = 'ACAGGATGCAATGTCATGACTAGACGGTA'

In [73]:
memory = ''
codon = ''
bp = 0
while codon not in ('TAA','TAG','TGA') and bp <= len(seq)-1:
    codon += seq[bp]
    if len(codon)==3 and (codon=='ATG' or len(memory)!=0):
        memory += codon 
        codon = ''
    elif len(codon)==3 :
        codon = ''
    bp += 1
print(memory)

ATGACTAGACGG

### Produit de nombres consécutifs

Calculez le produit des nombres consécutifs pairs en utilisant une boucle (jusque le produit de 98 et 100). Exemple pour les premières itérations :

`produit de 2 et 4 : 8
produit de 4 et 6 : 24
produit de 6 et 8 : 48
[...]`

Refaire la même chose mais jusqu'à ce que le produit soit plus grand qu'une valeur stockée dans une variable `x`.

In [74]:
duo = [(i,i+2) for i in range(2,99,2)]
for t in duo:
    print('produit de {} et {} : {}'.format(t[0],t[1],t[0]*t[1]))

produit de 2 et 4 : 8
produit de 4 et 6 : 24
produit de 6 et 8 : 48
produit de 8 et 10 : 80
produit de 10 et 12 : 120
produit de 12 et 14 : 168
produit de 14 et 16 : 224
produit de 16 et 18 : 288
produit de 18 et 20 : 360
produit de 20 et 22 : 440
produit de 22 et 24 : 528
produit de 24 et 26 : 624
produit de 26 et 28 : 728
produit de 28 et 30 : 840
produit de 30 et 32 : 960
produit de 32 et 34 : 1088
produit de 34 et 36 : 1224
produit de 36 et 38 : 1368
produit de 38 et 40 : 1520
produit de 40 et 42 : 1680
produit de 42 et 44 : 1848
produit de 44 et 46 : 2024
produit de 46 et 48 : 2208
produit de 48 et 50 : 2400
produit de 50 et 52 : 2600
produit de 52 et 54 : 2808
produit de 54 et 56 : 3024
produit de 56 et 58 : 3248
produit de 58 et 60 : 3480
produit de 60 et 62 : 3720
produit de 62 et 64 : 3968
produit de 64 et 66 : 4224
produit de 66 et 68 : 4488
produit de 68 et 70 : 4760
produit de 70 et 72 : 5040
produit de 72 et 74 : 5328
produit de 74 et 76 : 5624
produit de 76 et 78 : 5928
produit de 78 et 80 : 6240
produit de 80 et 82 : 6560
produit de 82 et 84 : 6888
produit de 84 et 86 : 7224
produit de 86 et 88 : 7568
produit de 88 et 90 : 7920
produit de 90 et 92 : 8280
produit de 92 et 94 : 8648
produit de 94 et 96 : 9024
produit de 96 et 98 : 9408
produit de 98 et 100 : 9800

In [75]:
duo = [(i,i+2) for i in range(2,99,2)]
x = 4860
i = 0
while duo[i][0]*duo[i][1]<x:
    print('produit de {} et {} : {}'.format(duo[i][0],duo[i][1],duo[i][0]*duo[i][1]))
    i += 1

produit de 2 et 4 : 8
produit de 4 et 6 : 24
produit de 6 et 8 : 48
produit de 8 et 10 : 80
produit de 10 et 12 : 120
produit de 12 et 14 : 168
produit de 14 et 16 : 224
produit de 16 et 18 : 288
produit de 18 et 20 : 360
produit de 20 et 22 : 440
produit de 22 et 24 : 528
produit de 24 et 26 : 624
produit de 26 et 28 : 728
produit de 28 et 30 : 840
produit de 30 et 32 : 960
produit de 32 et 34 : 1088
produit de 34 et 36 : 1224
produit de 36 et 38 : 1368
produit de 38 et 40 : 1520
produit de 40 et 42 : 1680
produit de 42 et 44 : 1848
produit de 44 et 46 : 2024
produit de 46 et 48 : 2208
produit de 48 et 50 : 2400
produit de 50 et 52 : 2600
produit de 52 et 54 : 2808
produit de 54 et 56 : 3024
produit de 56 et 58 : 3248
produit de 58 et 60 : 3480
produit de 60 et 62 : 3720
produit de 62 et 64 : 3968
produit de 64 et 66 : 4224
produit de 66 et 68 : 4488
produit de 68 et 70 : 4760

### 5.4.13 Sauts de puce

On imagine une puce qui se déplace aléatoirement sur une ligne, en avant ou en arrière, par pas de 1 ou -1. Par exemple, si elle est à l'emplacement 0, elle peut sauter à l'emplacement 1 ou -1; si elle est à l'emplacement 2, elle peut sauter à l'emplacement 3 ou 1, etc.

Avec une boucle while, simuler le mouvement de cette puce de l'emplacement initial 0 à l'emplacement final 5 (voir le schéma de la figure 3). Combien de sauts sont nécessaires pour réaliser ce parcours ? Relancez plusieurs fois le programme. Trouvez-vous le même nombre de sauts à chaque exécution ?

Conseil : vous utiliserez l'instruction random.choice([-1,1]) qui renvoie au hasard les valeurs -1 ou 1 avec la même probabilité. Avant d'utiliser cette instruction vous mettrez la ligne `import random` dans un cellule.

In [76]:
import random

In [77]:
random.choice([-1,1])

-1

In [94]:
pos = 0
cpt = 0
while pos != 5:
    pos += random.choice([-1,1])
    cpt +=1
print("La puce à atteint l'emplacement 5 en {} sauts".format(cpt))

La puce à atteint l'emplacement 5 en 47 sauts